.Card {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: rgb(255, 38, 0);
}

.Card h2 {
  margin: 0;
  padding: 5px 0;
  font-family: "Volkhov";
}

.Card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 3px;
}

/* .Card:hover img {
  transform: scale(1.1) rotate(-3deg);
} */

.Card .ShowExercisesButton {
  background-color: #fc3c02;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color:white;
}

.Card .ShowExercisesButton:hover {
  background-color: #ffffff;
  color: #fc3c02d8;
}

.Card button{
  background-color: #fc0202;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color:white;
}
.Card button:hover {
  background-color: #ffffff;
  color: #640202a8;
}

