.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(247, 140, 1);
}

.WorkoutCardContainer {
  margin: 6px;
}

.Cards::-webkit-scrollbar {
  width: 0.5em;
}

.Cards::-webkit-scrollbar-track {
  background-color: transparent;
}

.Cards::-webkit-scrollbar-thumb {
  background-color: transparent;
}
