.Cards {
  display: flex;
  gap: 10px;
}

.CompactCard {
  display: flex;
  flex: 1;
  height: 10rem !important;
  border-radius: 0.7rem;
  background-color: rgb(221, 199, 236);
  color: rgb(0, 0, 0);
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.CompactCard:hover {
  box-shadow: none !important;
}

.parentContainer{
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 80%;
  }
}