.Newworkout {
    width: 150px;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Newworkout h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: "DM Sans";
    font-size: 26px;
  }
  .Newworkout .FormToggleOpen {
    font-weight: bold;
  padding: 6px 11px;
  background-color: #f35f09;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  }

  .Newworkout .Form-popup {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.Newworkout .Form-popup .Form-content {
  position: relative;
  background-color: #000000;
  padding: 2rem;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  color: rgb(255, 85, 18);
}

.Newworkout .Form-popup .Form-content form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .Newworkout .Form-popup .Form-content label {
    font-weight: bold;
  }
  
  .Newworkout .Form-popup .Form-content form input[type="text"],
  .Newworkout .Form-popup .Form-content form select,
  .Newworkout .Form-popup .Form-content form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #646464;
    border-radius: 3px;
  }

  .Newworkout .Form-popup .Form-content input[type="number"] {
    width: 50%;
  }
  
  .Newworkout .Form-popup .Form-content button[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .Newworkout .Form-popup .Form-content {
    background-color: #000000;
  }

  .Newworkout .Form-popup .Form-content .Submiting {
    background-color: #0d62b1;
    color: rgb(255, 255, 255);
  }

  .Newworkout .Form-popup .Form-content .FormToggle {
    background-color: #b10d0d;
    color: black;
  }
  
  