.App {
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #000000 100%,
    #6b4631 31.55%,
    #be3e0c 60.85%
  );
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.AppGlass {
  display: grid;
  height: 100%;
  width: 100%;
  background: var(--glass);
  border-radius: 1rem;
  gap: 16px;
  grid-template-columns: 12rem 1fr 9rem;
  overflow-y: auto;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 1fr;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}
