.App {
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #eccece 29.63%,
    #f17c99 51.55%,
    #ee65e7 90.85%
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  overflow: auto;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 12rem auto 8rem;
  overflow-y: auto;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 65% auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}

